.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# automation stuff
Scripts/xcove_output
Scripts/xcodebuild.log

